.tabs-primary, .messages {
	max-width: 960px;
	margin: 20px auto;
	margin-top:
}
.tabs-primary li {
	display: inline-block;
	color: #ffffff;
	background-color: #e6e6e6;
	padding: 10px 20px;
	border: solid 1px #ccc;
	border-radius: 4px
}
.tabs-primary .is-active {
	color:white;
	background-color: #0044cc;
	
}
.tabs-primary li a {
	color:#333;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Helvetica;
	font-weight: bold; 
}
/*div.contextual-links-wrapper,div.contextual-links-wrapper ul.contextual-links  {
	display: block;
	font-size: 12px;
}
div.contextual-links-wrapper ul.contextual-links {
	top:0;
	border: solid 1px #ccc;
	background: #0044cc;
	color: white;
	border-radius: 4px;
	text-align:center;
}
div.contextual-links-wrapper ul.contextual-links a {
	color: white !important;
	padding: 2px !important;
	font-family: Helvetica
}
div.contextual-links-wrapper ul.contextual-links a:hover {
	background: transparent;
}*/
